{
    "subreddit": "changemyview",

    "account": {
        "username": "DeltaBot",
        "password": "PASSWORD"
    },

    "sleep_time": 60,

    "private_message": "Congratulations; you've earned your first delta!\n\nAs you may already know, a delta (&#8710;) is given when a comment has changed someone's view. For a more detailed explanation of the delta system, [see here](http://www.reddit.com/r/changemyview/wiki/deltabot).\n\n/u/DeltaBot has updated your user flair and created [your own wiki page](wiki_page_url) which will be updated every time you earn a delta. If you do well, you may find yourself on our [leaderboards](http://www.reddit.com/r/changemyview/wiki/leaderboards) (the monthly one is also featured in our sidebar).\n\nGood luck, and happy CMVing!",

    "messages": {
        "confirmation": [
            "Confirmed: 1 delta awarded to /u/%s"
        ],
        "already_awarded": [
            "You have already awarded /u/%s a delta in this comment thread."
        ],
        "too_little_text": [
            "This delta is currently disallowed as your comment contains either no or little text. Please include an explanation for how /u/%s changed your view. If you edit this in, please reply to my comment and I will rescan yours. Thank you."
        ],
        "broken_rule": [
            "You cannot award OP a delta as we feel allowing so would send the wrong message. For more information, please see our wiki."
        ]
    },

    "tokens": ["∆", "&amp;#8710;", "Δ"],

    "flair": {
        "point_text": "%s∆",
        "css_class": "points"
    },

    "last_comment_filename": "prev_id.txt",

    "minimum_comment_length": 10,

    "scoreboard": {
        "table_head": "\n\n| Rank | Username | Deltas |\n| :------: | ------ | ------: |",
        "table_leader_entry": "\n| 1 | **/u/%s** | [%s](// \"deltas received\") |",
        "table_entry": "\n| %s | /u/%s | [%s](// \"deltas received\") |"
    }
}
