{
    "subreddit": "SUBREDDIT",

    "account": {
        "username": "USERNAME",
        "password": "PASSWORD"
    },

    "test_account": {
        "username": "NOTREAL",
        "password": "JUSTFORTESTING"
    },

    "sleep_time": 60,

    "private_message": "Congratulations; you've earned your first delta!\n\nAs you may already know, a delta (&#8710;) is given when a comment has changed someone's view. For a more detailed explanation of the delta system, [see here](http://www.reddit.com/r/changemyview/wiki/deltabot).\n\n/u/DeltaBot has updated your user flair and created [your own wiki page](/r/%s/wiki/user/%s) which will be updated every time you earn a delta. If you do well, you may find yourself on our [leaderboards](http://www.reddit.com/r/changemyview/wiki/leaderboards) (the monthly one is also featured in our sidebar).\n\nGood luck, and happy CMVing!\n\n_____\n\n*[^I ^am ^a ^bot](https://github.com/alexames/DeltaBot)^, ^and ^this ^action ^was ^performed ^automatically. ^Please [^contact ^the ^moderators ^of ^CMV](http://www.reddit.com/message/compose?to=/r/changemyview) ^if ^you ^have ^any ^further ^questions ^or ^concerns.*",

    "messages": {

        "append_to_all_messages": "\n\n^[[Wiki](http://www.reddit.com/r/changemyview/wiki/deltabot)][[Code](https://github.com/alexames/DeltaBot)][/r/DeltaBot]",

        "confirmation": [
            "Confirmed: 1 delta awarded to /u/%s. ^[[History](/r/%s/wiki/user/%s)]"
        ],
        "already_awarded": [
            "You have already awarded /u/%s a delta in this comment tree."
        ],
        "too_little_text": [
            "This delta is currently disallowed as your comment contains either no or little text ([comment rule 4](http://www.reddit.com/r/changemyview/wiki/rules#wiki_rule_4)). Please include an explanation for how /u/%s changed your view. If you edit this in, replying to my comment will make me rescan yours."
        ],
        "broken_rule": [
            "You cannot award OP a delta as the moderators feel that allowing so would send the wrong message. If you were trying show the OP how to award a delta, please do so without using the delta symbol unless it's included in a reddit quote."
        ]
    },

    "tokens": ["∆", "&amp;#8710;", "Δ"],

    "flair": {
        "point_text": "%s∆",
        "css_class": "points",
        "top1":  "pholder",
        "top10": "pholder"
    },

    "last_comment_filename": "prev_id.txt",

    "minimum_comment_length": 100,

    "scoreboard": {
        "table_head": "\n\n| Rank | Username | Deltas |\n| :------: | ------ | :------: |",
        "table_leader_entry": "\n| **1** | **/u/%s** | [**%s**](/r/%s/wiki/user/%s \"Delta history.\") |",
        "table_entry": "\n| %s | /u/%s | %s ([%s](/r/%s/wiki/user/%s \"Delta history.\")) |"
    }
}
